<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-white bg-gray-800 container mx-auto">

  <nav class="py-4">
    <ul class="flex justify-center gap-4">
      <li class="duration-300 hover:text-pink-500"><a href="{% url 'Student' %}">Alumnos</a></li>
      <li class="duration-300 hover:text-pink-500"><a href="{% url 'Courses' %}">Cursos</a></li>
      <li class="duration-300 hover:text-pink-500"><a href="{% url 'Teachers' %}">Profesores</a></li>
    </ul>
  </nav>


  {% block content %}

  {% endblock %}

  <footer>
    <p class="text-center py-4">&copy; 2023</p>
  </footer>

</body>

</html>